@import "config.scss";

.title {
  font-family: $font-heading;
  margin: $gutter 50%;
  font-size: 2em;
  height: auto;
}

.player {
  display: flex;
  
  max-width: $max-width;
  margin: 0 auto;
  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow-x: hidden;

  &__video {
    width: 50%;
    margin: $gutter auto;
  }
}
