@import "config.scss";

a {
  text-decoration: none;
  color: #fff;
}
p {
  font-family: $font-main;
  font-size: 1em;
}

h2 {
  padding-top: 2em;
  padding-bottom: 1em;
}
.category {
  margin-bottom: $gutter * 2;
  border-bottom: 1px solid #fff;


  &__heading {
    font-family: $font-heading;
    font-size: 1.5em;
    text-decoration: none;
    margin: $gutter;
    padding: 0;
    // padding-top: 4em;
  }

  &__videolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin: $gutter;
  }

  &__video {
    margin: $gutter;
    position: relative;

    &__image {

    &__title {
      margin: $gutter/2 0;
    }

    &__duration {
      margin: 0;
      padding: 10px 10px;
      top: $gutter;
      right: $gutter;
      position: absolute;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__date {
      margin: $gutter/2 0;
    }

  }

}
