.header {
  margin: $gutter;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: #fff;
}
p {
  font-family: $font-main;
  font-size: 1em;
}

h2 {
  padding-top: 2em;
  padding-bottom: 1em;
}

.category {
  margin: 0 $gutter;
  border-bottom: 1px solid #fff;
  margin-bottom: 2em;


  &__heading {
    font-family: $font-main;
    text-decoration: none;
    // padding-top: 4em;
  }

  &__videolist {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    overflow: hidden;
  }

  &__video {
    margin: 0 $gutter;
    position: relative;

    &__image {
      max-width: 500px;
    }

    &__duration {
      margin: 0;
      padding: 10px 10px;
      top: $gutter;
      right: $gutter;
      position: absolute;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

}
